<div>
  <div>
    <h2>Add Book</h2>
  </div>
  <form (ngSubmit)="onSubmit(form.value)" [formGroup]="form">
      <input id="author" type="text" class="form-control" formControlName="author" placeholder="Author" />
      <input id="title" type="text" class="form-control" formControlName="title" placeholder="Title" />
      <input id="publisher" type="text" class="form-control" formControlName="publisher" placeholder="Publisher" />
      <textarea id="details" formControlName="details" placeholder="Details"></textarea>
      <input id="year" type="text" class="form-control" formControlName="year" placeholder="Year" />
      <button type="submit">Add to library</button>
  </form>
  <div *ngIf="payLoad" class="form-row">
    <strong>Saved</strong>{{ payLoad }}
  </div>
</div>
