<div>
  <form (ngSubmit)="onSubmit(form.value)" [formGroup]="form">
    <div>
      <label for="author">
        Author
      </label>
      <input id="author" type="text" formControlName="author" />
    </div>
    <div>
      <label for="title">
        Title
      </label>
      <input id="title" type="text" formControlName="title" />
    </div>
    <div>
      <label for="publisher">
        Publisher
      </label>
      <input id="publisher" type="text" formControlName="publisher" />
    </div>
    <div>
      <label for="year">
        Year
      </label>
      <input id="year" type="text" formControlName="year" />
    </div>    
    <div class="form-row">
      <button type="submit">Add to library</button>
    </div>
  </form>
  <div *ngIf="payLoad" class="form-row">
    <strong>Saved</strong>{{ payLoad }}
  </div>
</div>
