<div class="custom-control custom-switch">
  <input type="checkbox" class="custom-control-input"
         id="customSwitch1"
         [checked]="showAddTop"
         (change)="showAddTop = !showAddTop" />
  <label class="custom-control-label" for="customSwitch1">Add form top/bottom</label>
</div>
<div *ngIf="showAddTop">
  <app-add-book></app-add-book>
</div>
<h1 id="tableLabel">Library</h1>

<table class='table table-striped' aria-labelledby="tableLabel">
  <thead>
    <tr>
      <th>Author</th>
      <th>Title</th>
      <th>Publisher</th>
      <th>Details</th>
      <th></th>
    </tr>
  </thead>  
  <tbody>    
    <tr *ngFor="let book of catalogService.books.items">
      <td>{{book.author}}</td>
      <td>{{book.title}}</td>
      <td>{{book.publisher}} <p *ngIf="book.publishYear">{{book.publishYear}}</p></td>
      <td><app-book-details [book]="book" (notify)="onNotify($event)" *ngIf="book.details"></app-book-details></td>
      <td><app-remove-book [book]="book"></app-remove-book></td>
    </tr>
  </tbody>
</table>
<div *ngIf="!showAddTop">
  <app-add-book></app-add-book>
</div>
